{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=rds2_psngr;User=root;Password=YOUR_PASSWORD_HERE;"
  },
  "SecuritySettings": {
    "AppKeySecret": "YOUR_SECRET_APP_KEY_HERE"
  },
  "JwtSettings": {
    "SecretKey": "YOUR_JWT_SECRET_KEY_HERE",
    "Issuer": "SenselBackend",
    "Audience": "PassengerApp",
    "ExpirationDays": 7
  }
}
